.hd_bg {
    background-color: rgba(255,255,255,0.65); width: 100%;
    position: fixed; right: 0; top: 0; z-index: 999;
}
.hd_bg header {
    width: 1520px; margin: 0 auto; height: 90px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center;
    letter-spacing: -0.02em;
}
.hd_bg header h1 {}
.hd_bg header h1 a {}
.hd_bg header h1 a img {}
/* ===========================================헤더 공통선택자 */
.hd_bg header .hd_center,
.hd_bg header .hd_right,
.hd_bg header .hd_center > *,
.hd_bg header .hd_right > * {display: flex; flex-flow: row nowrap; align-items: center;}
.hd_bg header .hd_center .service::after, /* 카테고리 중간 구분선 */
.hd_bg header .hd_right .login::after {
    content: ''; display: inline-block;
    width: 2px; height: 20px; background-color: #bbb;
}
/* ===========================================헤더 개별선택자 */
.hd_bg header .hd_center {font-size:1.06rem; font-weight:500;}
.hd_bg header .hd_center .service {}
.hd_bg header li {display: inline-block;} /* 이벤트 li & 로그인 li */
.hd_bg header .hd_center .service li, 
.hd_bg header .hd_center nav a {margin-right: 35px;} /* 가운데 카테고리 글자 여백 */
.hd_bg header .hd_center .service li:last-child,
.hd_bg header .hd_center nav a:last-child {margin-right: 40px;}
.hd_bg header .hd_center .service li a {}
.hd_bg header .hd_center .service li:first-child::before /* 특가이벤트 표시점 */ {
    content: ''; display: inline-block; width: 8px; height: 8px;
    border-radius: 50px; background-color: #336477; margin: 0 9px 9px 0;
} 
.hd_bg header .hd_center nav {}
.hd_bg header .hd_center nav a {}
.hd_bg header .hd_center nav a:first-child {margin-left: 35px;}
.hd_bg header .hd_center #searchFrm {
    background-color: #eee; color: #333;
    border-radius: 50px;
    display: flex; flex-flow: row nowrap;
    padding: 3px 10px 3px 20px;
}
.hd_bg header .hd_center #searchFrm input[name$=search] {
    background: none; 
    
}
.hd_bg header .hd_center #searchFrm input[name$=search]::placeholder {color: #333;}
.hd_bg header .hd_center #searchFrm #search_btn {}
.hd_bg header .hd_right {font-size:0.88rem;}
.hd_bg header .hd_right .login {}
.hd_bg header .hd_right .login li,
.hd_bg header .hd_right .login::after {margin-right: 20px;}
.hd_bg header .hd_right .login li a {}
.hd_bg header .hd_right .icon {}
.hd_bg header .hd_right .icon li {}
.hd_bg header .hd_right .icon .main_product {margin-right: 15px;}
.hd_bg header .hd_right .icon li a {}
/* ===========================================Start : 광고 배너 */
main {}
main .bnr_wrap {height: 905px; position: relative; margin-bottom: 120px;}
/* ===========================================광고 배너 공통선택자 */
main .bnr_wrap .bnr_container {height: 100%;}
main .bnr_wrap .bnr_container .all_bnr {height: 100%;}
main .bnr_wrap .bnr_container .all_bnr .contents {}
main .bnr_wrap .bnr_container .all_bnr .contents .title {}
main .bnr_wrap .bnr_container .all_bnr .contents .title img {}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt {
    width: max-content; 
    position: absolute; top: 40%; left: 20%;
}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt a {color: #fff;}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt .sub_txt {
    display: flex; flex-flow: row nowrap;
}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt .sub_txt a:first-child::after /* 배너 서브 타이틀 구분선 */{
    content: ''; display: inline-block; width: 2px; height: 24px;
    background-color: #fff;
    position: relative; top: 3px;
    margin: 0 10px;
}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt .sub_txt a {
    font-size:1.5rem; line-height:1.7; letter-spacing:-0.02em;
}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt > a h1 {font-size:2.81rem; font-weight:600; line-height:1.5; letter-spacing:-0.02em;}
main .bnr_wrap > a {position: absolute; top: 50%; opacity: 20%;} /* 광고 배너 버튼 */
main .bnr_wrap > a:hover {opacity: 100%;} /* 광고 배너 버튼 */
/* ===========================================광고 배너 개별선택자 */
main .bnr_wrap .bnr_container .bnr1 {    
    background:url(../images/bnr1.jpg) no-repeat;
    background-position:center;
    background-size:cover;
}
main .bnr_wrap .bnr_container .bnr1 .contents {}
main .bnr_wrap .bnr_container .bnr1 .contents .title {}
main .bnr_wrap .bnr_container .bnr1 .contents .title img {}
main .bnr_wrap .bnr_container .bnr1 .contents .title .txt {}
main .bnr_wrap .bnr_container .bnr1 .contents .title .txt a {}
main .bnr_wrap .bnr_container .bnr1 .contents .title .txt a h1 {}
main .bnr_wrap .pre_btn {left: 80px;}
main .bnr_wrap .next_btn {right: 80px;}
main .bnr_wrap .progress_wrap {
    text-align: right;
    position: absolute; width: 100%;
    bottom: 0; right: 0;
}
main .bnr_wrap .progress_wrap .page_num span {font-size:1.13rem; font-weight:500;}
main .bnr_wrap .progress_wrap .page_num {
    display: inline-block;
    background-color:rgba(0,0,0,0.3);
    border-radius: 50px;
    padding: 8px 9px;
    margin: 0 20px 20px 0;
}
main .bnr_wrap .progress_wrap .page_num .now_pg {color: #fff;}
main .bnr_wrap .progress_wrap .page_num .all_pg {color: rgba(255,255,255,0.4);}
main .bnr_wrap .progress_wrap .page_num span:nth-child(2) {
    content: ''; display: inline-block; background-color: #fff;
    width: 2px; height: 18px;
    margin: 0 5px;
    position: relative;
    top: 3px;
}
main .bnr_wrap .progress_wrap .progress_bar {
    height: 3px; background-color: #bbb;
}
main .bnr_wrap .progress_wrap .progress_bar .bar {
    background-color: #000;
    width: calc(100% / 13);
    height: 100%;
}
/* ===========================================1행 이 달의 상품 */
/* ===========================================START : main 공통선택자 */
main .container {margin-bottom: 120px;}
main .container > .title {
    width: 1520px; margin: 0 auto; padding-bottom: 40px; margin-bottom: 65px;
    border-bottom: 1px solid #eee;
}
main .container > .title .txt { }
main .container > .title .txt h2 {
    font-size:2.38rem; font-weight:600; line-height:1.5; letter-spacing:-0.02em;
    color: #336477;
}
main .container > .title .txt p {
    font-weight:500; line-height:1.7; letter-spacing:-0.02em;
    color: #999;
}
/* ===========================================END : main 공통선택자 */
main .month_product {}
main .month_product .title {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .month_product .title .txt {}
main .month_product .title .txt h2 {}
main .month_product .title .txt p {}
main .month_product .title .more_btn {
    padding: 4px 8px; border-radius: 4px;
    background-color: #336477; color: #fff;
    font-weight:500; line-height:1.7; letter-spacing:-0.02em;
    align-self: flex-end;
}
main .month_product .product_wrap {
    width: 1760px; margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    position: relative;
}
main .month_product .product_wrap .product_slides {
    width: 1520px; margin: 0 auto;
    display: flex; flex-flow: row nowrap;
}
/* 이 달의 상품 슬라이드 2열 너비 맞추기 */
main .month_product .product_wrap .product_slides > * {width: calc((100% - 25px) / 2);}
main .month_product .product_wrap .product_slides .main_product {margin-right: 25px; position: relative;}
main .month_product .product_wrap .product_slides .main_product li {}
main .month_product .product_wrap .product_slides .main_product li a {}
main .month_product .product_wrap .product_slides .main_product li a img {width: 100%;}
main .month_product .product_wrap .product_slides .main_product li a::after {
    content: ''; display: inline-block; width: 100%; height: 723px;
    background: linear-gradient(transparent,rgba(0,0,0,0.4));
    position: absolute; left: 0; top: 0;
}
main .month_product .product_wrap .product_slides .main_product .info {
    color: #fff;
    position: absolute; right: 0; bottom: 0;
    padding: 0 30px 30px 0; text-align: right;
    font-size:1.56rem; line-height:1.5; letter-spacing:-0.02em;
}
main .month_product .product_wrap .product_slides .main_product .info .name {margin-bottom: 15px;}
main .month_product .product_wrap .product_slides .main_product .info .price {font-weight: 500;}
main .month_product .product_wrap .product_slides .product_group {
    display: flex; flex-flow: row wrap;
    justify-content: space-between; align-content: space-between;
}
main .month_product .product_wrap .product_slides .product_group .m_product {}
main .month_product .product_wrap .product_slides .product_group .m_product .image {}
main .month_product .product_wrap .product_slides .product_group .m_product .image a {display: inline-block;}
main .month_product .product_wrap .product_slides .product_group .m_product .image a img {width: 100%;}
main .month_product .product_wrap .product_slides .product_group .m_product .info {
    padding: 25px 0; text-align: center;
    font-size:1.25rem; line-height:1.5; letter-spacing:-0.02em;
    position: relative; top: -3px;
}
main .month_product .product_wrap .product_slides .product_group .m_product .info .name {margin-bottom: 15px;}
main .month_product .product_wrap .product_slides .product_group .m_product .info .price {font-weight: 500;}
main .month_product .product_wrap > a {
    position: absolute; top: 40%;
}
main .month_product .product_wrap .pre_btn {left: 0;}
main .month_product .product_wrap .next_btn {right: 0;}
/* ===========================================2행 이 달의 쿠폰 */
main .month_coupon {}
main .month_coupon .title {}
main .month_coupon .title .txt {}
main .month_coupon .coupon_wrap {
    width: 1520px; margin: 0 auto;
    display: flex; flex-flow: row nowrap;
}
main .month_coupon .coupon_wrap .coupon {
    width: calc((100% - (25px * 4)) / 5);
    margin-right: 25px;
    padding: 25px 25px;
}
main .month_coupon .coupon_wrap .coupon:nth-child(1) {background-color: #336477;}
main .month_coupon .coupon_wrap .coupon:nth-child(2) {background-color: #AB7F3C;}
main .month_coupon .coupon_wrap .coupon:nth-child(3) {background-color: #333;}
main .month_coupon .coupon_wrap .coupon:nth-child(4) {background-color: #3B6034;}
main .month_coupon .coupon_wrap .coupon:nth-child(5) {background-color: #3C5FAB;}
main .month_coupon .coupon_wrap .coupon:last-child {margin-right: 0;}
main .month_coupon .coupon_wrap .coupon a {color: #fff;}
main .month_coupon .coupon_wrap .coupon a p {}
main .month_coupon .coupon_wrap .coupon a .c_name {font-size:1.44rem; font-weight:500; letter-spacing:-0.02em; margin-bottom: 9px;}
main .month_coupon .coupon_wrap .coupon a .c_price {
    text-align: right;
    font-size:3.25rem; font-weight:600;
    background-color: li;
}
/* ===========================================3행 카테고리 인기상품 */
main .best_category {background-color: #eee; padding: 30px 0;}
main .best_category .title {}
main .best_category .title .txt {}
main .best_category .title .txt h2 {}
main .best_category .title .txt p {}
main .best_category .category_wrap {}
main .best_category .category_wrap .category_btn {
    width: 1520px; margin: 0 auto; 
    display: flex; flex-flow: row nowrap; align-items: center;
    position: relative;
    margin-bottom: 65px;
}
main .best_category .category_wrap .category_btn > a {position: absolute; align-self: center;} /* 카테고리 이동 버튼 */
main .best_category .category_wrap .category_btn > a img {width: 32px;} /* 카테고리 이동 버튼 */
main .best_category .category_wrap .category_btn .pre_btn {left: -39px;}
main .best_category .category_wrap .category_btn .next_btn {right: -39px;}
main .best_category .category_wrap .category_btn .category {
    width: 100%; height: 46px;
    display: flex; flex-flow: row nowrap;
}
main .best_category .category_wrap .category_btn .category li {
    width: calc((100% - (10px * 6)) / 7);
    margin-right: 10px;
    border: 1px solid #999; background-color: #fff;
    border-radius: 50px;
    text-align: center;
}
main .best_category .category_wrap .category_btn .category li:last-child {margin-right: 0;}
main .best_category .category_wrap .category_btn .category li a {
    display: block; width: 100%;
    padding: 15px 25px; 
    color: #999; letter-spacing:-0.02em;
}
main .best_category .category_wrap .category_btn .category .active {border: 1px solid #333; background-color: #333;}
main .best_category .category_wrap .category_btn .category .active a {color: #fff; font-weight:600;}
main .best_category .category_wrap .best_wrap {
    width: 1520px; margin: 0 auto;
    display: flex; flex-flow: column nowrap;
}
/* ===========================================Start : 카테고리 상품 리스트 공통 선택자 */
main .best_category .category_wrap .best_wrap .wrap_top,
main .best_category .category_wrap .best_wrap .wrap_btm {
    display: flex; flex-flow: row nowrap;justify-content: space-between;
    margin-bottom: 65px;
}
main .best_category .category_wrap .best_wrap .b_product {width: calc((100% - (25px * 3)) / 4);}
main .best_category .category_wrap .best_wrap .b_product li:first-child {margin-bottom: 25px;}
main .best_category .category_wrap .best_wrap .b_product li:first-child a {}
main .best_category .category_wrap .best_wrap .b_product li:first-child a img {width: 100%; border-radius: 30px;}
main .best_category .category_wrap .best_wrap .b_product .info {height: 140px; position: relative;}
main .best_category .category_wrap .best_wrap .b_product .info > li {}
main .best_category .category_wrap .best_wrap .b_product .info li .brand {color: #555; margin-bottom: 25px;}
main .best_category .category_wrap .best_wrap .b_product .info li .name {}
main .best_category .category_wrap .best_wrap .b_product .info li .name p {}
main .best_category .category_wrap .best_wrap .b_product .info .b_price {position: absolute; bottom: 0; left: 0;}
main .best_category .category_wrap .best_wrap .b_product .info .b_price .original_p {color: #bbb; text-decoration: line-through; margin-bottom: 15px;}
main .best_category .category_wrap .best_wrap .b_product .info .b_price .now_p {
    font-size:1.56rem; font-weight:500; letter-spacing:-0.02em;
}
main .best_category .category_wrap .best_wrap .b_product .info .b_price .now_p .dc {color: #ED2650; font-weight:700; padding-right: 10px;}
/* ===========================================End : 카테고리 상품 리스트 공통 선택자 */
main .best_category .category_wrap .best_wrap .wrap_top{}
main .best_category .category_wrap .best_wrap .wrap_top .b_product {}
main .best_category .category_wrap .best_wrap .wrap_top .b_product li:first-child {}
main .best_category .category_wrap .best_wrap .wrap_top .b_product li:first-child a {}
main .best_category .category_wrap .best_wrap .wrap_top .b_product li:first-child a img {}
main .best_category .category_wrap .best_wrap .wrap_top .b_product li {}
main .best_category .category_wrap .best_wrap .wrap_top .b_product li .brand {}
main .best_category .category_wrap .best_wrap .wrap_top .b_product li .name {}
main .best_category .category_wrap .best_wrap .wrap_top .b_product li .original_p {}
main .best_category .category_wrap .best_wrap .wrap_top .b_product li .now_p {}
main .best_category .category_wrap .best_wrap .wrap_top .b_product li .now_p .dc {}
main .best_category .category_wrap .best_wrap .wrap_btm {}
main .best_category .category_wrap .best_wrap .wrap_btm .b_product {}
main .best_category .category_wrap .best_wrap .wrap_btm .b_product li:first-child {}
main .best_category .category_wrap .best_wrap .wrap_btm .b_product li:first-child a {}
main .best_category .category_wrap .best_wrap .wrap_btm .b_product li:first-child a img {}
main .best_category .category_wrap .best_wrap .wrap_btm .b_product li {}
main .best_category .category_wrap .best_wrap .wrap_btm .b_product li .brand {}
main .best_category .category_wrap .best_wrap .wrap_btm .b_product li .name {}
main .best_category .category_wrap .best_wrap .wrap_btm .b_product li .original_p {}
main .best_category .category_wrap .best_wrap .wrap_btm .b_product li .now_p {}
main .best_category .category_wrap .best_wrap .wrap_btm .b_product li .now_p .dc {}
main .best_category .category_wrap .best_wrap .more_btn {
    width: max-content; align-self: center;
    border: 1px solid #555; padding: 15px 100px;
    border-radius: 50px;
}
/* ===========================================4행 이미지 라인 배너 */
main .line_bnr_container {margin-bottom: 120px;}
main .line_bnr_container .line_bnr {}
main .line_bnr_container .line_bnr a {}
main .line_bnr_container .line_bnr a img {width: 100%;}
/* ===========================================5행 매장 방문 및 예약 */
main .store_reserve {width: 1760px; margin: 0 auto; margin-bottom: 120px;}
main .store_reserve > .title {width: 100%;}

main .store_reserve > .title .txt {}
main .store_reserve > .title .txt h2 {}
main .store_reserve > .title .txt p {}
main .store_reserve .store_wrap {display: flex; flex-flow: row nowrap;}
main .store_reserve .store_wrap > * {width: calc(100% / 2);} /* store_location 이랑 reservation 높이 고정 */
main .store_reserve .store_wrap .store_location {height: 750px; position: relative;}
main .store_reserve .store_wrap .store_location > * {}
main .store_reserve .store_wrap .store_location > p {height: 100%;}
main .store_reserve .store_wrap .store_location > p::after {
    content: ''; display: inline-block;
    width: 100%; height: 100%;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    position: absolute; top: 0; left: 0;
}
main .store_reserve .store_wrap .store_location > p img {width: 100%; height: 100%;}
main .store_reserve .store_wrap .store_location .find_btn {}
main .store_reserve .store_wrap .store_location .find_btn span {
    color: #fff;
    font-size:2rem; font-weight:600; line-height:1.1;
    text-align: right; position: absolute; right: 0; bottom: 0px;
    background: url(../images/circle_right.png) no-repeat 100% 0;
    background-size: 36px 36px;
    padding-right: 39px;
    margin: 0 30px 30px 0;
}
/* ============================================================================Start : 상담 및 클래스 공통선택자 */
main .store_reserve .store_wrap .reservation .contents p {color: #fff;}
main .store_reserve .store_wrap .reservation .contents .title {
    font-size:2rem; font-weight:600; line-height:1.1;
    margin-bottom: 15px;
}
main .store_reserve .store_wrap .reservation > * {height: calc(100% / 2);}
main .store_reserve .store_wrap .reservation {height: 750px;}
main .store_reserve .store_wrap .reservation .reserve_bg {height: 100%;}
main .store_reserve .store_wrap .reservation .reserve_bg img {width: 100%; height: 100%;}
main .store_reserve .store_wrap .reservation .contents .desc {font-size:0.94rem; line-height:1.3; letter-spacing:-0.02em;}
main .store_reserve .store_wrap .reservation .contents {
    width: 100%;
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
    position: absolute; bottom: 0;
    padding: 0 34px 20px 34px;
}
/* ============================================================================End : 상담 및 클래스 공통선택자 */
main .store_reserve .store_wrap .reservation .consulting {position: relative;}
main .store_reserve .store_wrap .reservation .consulting .reserve_bg {height: 100%;}
main .store_reserve .store_wrap .reservation .consulting .reserve_bg::after {
    content: ''; display: inline-block;
    width: 100%; height: 100%;
    background-color: rgba(51,100,119,0.5) ;
    position: absolute; left: 0; top: 0;
}
main .store_reserve .store_wrap .reservation .consulting .reserve_bg img {width: 100%; height: 100%;}

main .store_reserve .store_wrap .reservation .consulting .contents {}
main .store_reserve .store_wrap .reservation .consulting .contents li:first-child {}
main .store_reserve .store_wrap .reservation .consulting .contents li:first-child p {}
main .store_reserve .store_wrap .reservation .consulting .contents li:first-child .title{}
main .store_reserve .store_wrap .reservation .consulting .contents li:first-child .desc{}
/* ============================================================================Start : 예약하기 버튼 공통 선택자 */
main .store_reserve .store_wrap .reservation .contents .reserve_btn {
    background-color: #333;
    padding: 7px 15px; border-radius: 4px;
}
main .store_reserve .store_wrap .reservation .contents .reserve_btn a {
    color: #fff;
    background: url(../images/arrow_right_alt.png) no-repeat 100% center;
    background-size: 20px 20px; 
    padding-right: 24px;
    font-weight:500; line-height:1.7; letter-spacing:-0.02em;
}
/* ============================================================================End : 예약하기 버튼 공통 선택자 */
main .store_reserve .store_wrap .reservation .consulting .contents .consult_btn {}
main .store_reserve .store_wrap .reservation .consulting .contents .consult_btn a {}
main .store_reserve .store_wrap .reservation .class {position: relative;}
main .store_reserve .store_wrap .reservation .class > li img {width: 100%;}
main .store_reserve .store_wrap .reservation .class .reserve_bg::after {
    content: ''; display: inline-block;
    width: 100%; height: 100%;
    background-color: rgba(171,127,60,0.5) ;
    position: absolute; left: 0; top: 0;
}
/* ===========================================footer 시작 */
.ft_bg {background-color: #333;}
.ft_bg footer {
    width: 1760px; margin: 0 auto;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding: 35px 0;
}
.ft_bg footer .ft_left * {color: #bbb;}
.ft_bg footer .ft_left {display: flex; flex-flow: column nowrap;}
.ft_bg footer .ft_left .ft_left_top {
    display: flex; flex-flow: row nowrap;
    border-bottom: 1px solid #bbb;
}
.ft_bg footer .ft_left .ft_left_top * {font-size:0.94rem; font-weight:500; letter-spacing:-0.02em;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left {margin-right: 55px;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left > * {
    display: flex; flex-flow: row nowrap;
    margin-bottom: 30px;
}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .customer_info {}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .customer_info li {margin-right: 20px;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .customer_info li:last-child {margin-right: 0;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .customer_info li a {color: #fff;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .company_info {align-self: center;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .company_info li {}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .company_info li a {padding: 0 8px;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .company_info li:first-child a {padding-left: 0;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .company_info li:last-child a {padding-right: 0;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .company_info li::after {
    content: ''; display: inline-block;
    background-color: #bbb; width: 1px; height: 15px;
    position: relative; top: 3px;
}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .company_info li:last-child:after {background: none;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .sns {}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .sns li {margin-right: 15px;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .sns li a {}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .sns li a::after{
    content: ''; display: block; width: 36px; height: 36px;
    background-image: url(../images/css_sprites.png);
}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .sns li .blog::after{background-position: -10px -10px;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .sns li .fb::after{background-position: -66px -10px;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .sns li .post::after{background-position: -122px -10px;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .sns li .ig::after{background-position: -178px -10px;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .sns li .tw::after{background-position: -234px -10px;}
.ft_bg footer .ft_left .ft_left_top .ft_t_left .sns li .yt::after{background-position: -290px -10px;}
.ft_bg footer .ft_left .ft_left_top .cs_info {}
.ft_bg footer .ft_left .ft_left_top .cs_info * {color: #fff;}
.ft_bg footer .ft_left .ft_left_top .cs_info .cs_title {
    font-size:1.13rem; font-weight:600; letter-spacing:-0.02em;
    margin-bottom: 20px;
}
.ft_bg footer .ft_left .ft_left_top .cs_info .cs_txt {}
.ft_bg footer .ft_left .ft_left_top .cs_info .cs_txt dl {display: flex; flex-flow: row nowrap;}
.ft_bg footer .ft_left .ft_left_top .cs_info .cs_txt dl:first-child {margin-bottom: 20px;}
.ft_bg footer .ft_left .ft_left_top .cs_info .cs_txt dl dt {margin-right: 20px;}
.ft_bg footer .ft_left .ft_left_top .cs_info .cs_txt dl dd {font-size:0.94rem; font-weight: 400; line-height:1.3;}
.ft_bg footer .ft_left .ft_left_btm {padding-top: 20px;}
.ft_bg footer .ft_left .ft_left_btm * {font-size:0.75rem; line-height:1.3; letter-spacing:-0.02em;}
.ft_bg footer .ft_left .ft_left_btm address {line-height:1.7;}
.ft_bg footer .ft_left .ft_left_btm address a {font-weight: 500; text-decoration: underline;}
.ft_bg footer .ft_left .ft_left_btm p {line-height:1.7;}
.ft_bg footer .ft_right {position: relative;}
.ft_bg footer .ft_right select[name=family_site] {
    width: 100%;
    background: url(../images/arrow_forward_ios.png) no-repeat right center;
    background-size: 20px 20px;
    border: 1px solid #fff;
    padding: 5px;
    color: #bbb;
    margin-bottom: 25px;
}
.ft_bg footer .ft_right select[name=family_site] option {
    padding-left: 5px; color: #000;
}
.ft_bg footer .ft_right .ft_img_g {}
.ft_bg footer .ft_right .ft_img_g li:first-child {text-align: center; margin-bottom: 15px;}
.ft_bg footer .ft_right .ft_img_g li:last-child {display: flex; flex-flow: row nowrap;}
.ft_bg footer .ft_right .ft_img_g li:last-child .qr_txt {
    width: 110px; margin-right: 15px;
    font-size:0.94rem; line-height:1.3; letter-spacing:-0.02em;
    color: #fff;
}
.ft_bg footer .ft_right .ft_img_g li:last-child .qr_txt a {color: #fff; font-weight:500; letter-spacing:-0.02em;}
.ft_bg footer .ft_right .ft_img_g li:last-child p {}
.ft_bg footer .ft_right .ft_img_g li:last-child p img {}